requests==2.9.1
pandas>=0.18.1
scikit-learn==0.18.1
scipy>=0.17.0
numpy>=1.10.1
seaborn
ipython
jupyter
statsmodels==0.8.0
yahoo-finance
tensorflow
plotly
dash==0.21.1
dash-core-components==0.13.0rc4
dash-html-components==0.10.1
dash-renderer==0.12.1
